/* GeorgeZelenkov */
/* Reset default browser CSS. */
* {
    margin: 0;
    padding: 0;
}

div {
    border-radius: 4px;
}

html {
    font-family: Roboto;
    ms-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
}

img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

h1 {
    font-size: 20px;
}

h2 {

}

h3 {
    font-size: 16px;
}

ol, ul {
    list-style: none;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    display: none;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

svg:not(:root) {
    overflow: hidden;
}

span {
    font-size: 2em;
}

figure {
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    moz-box-sizing: content-box;
    webkit-box-sizing: content-box;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: Roboto;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    border: 0;
    border-radius: 4px;
}

button, select {
    text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    webkit-appearance: button;
}

button[disabled], html input[disabled] {
    cursor: default;
}

input {
    line-height: 1.7em;
    font-size: 18px;
    padding: 0 3%;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    padding: 0;
    webkit-box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    moz-box-sizing: content-box;
    webkit-appearance: textfield;
    webkit-box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
    background-color: #fff;
}

header{
    height: 4em;
}

#lang {
    display: none;
}

#lang:checked ~ .rus,

#lang:not(:checked) ~ .eng {
    display:none;
}

section{

}

label[for="lang"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    float: right;
    color: #027F95;
    font-weight: 800;
    padding: 1em 2em 0 0;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}


.main{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(85vh - 80px);
    }

.inline_icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;

}

.fa-envelope-o{
    color: #027F95;
}

.text_intro{
    margin: 0 auto;
}

.intro_name{
    font-size: 2.5em;
    font-weight: 600;
}

.intro_profession{
    font-size: 2.5em;
    color: #027F95;
    font-weight: 600;
}

.spoiler{
    text-align: center;
}

.intro_resume{
    font-size: 1em;
    color: #027F95;
    font-weight: 800;
}

.spoiler_wrapper{
    text-align: justify;
}

.spoiler_text{
    margin: 4em 4em 0 4em;
}

.image_gallery{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.image{
    padding: 2em;
    border: 1px solid #027F95;
    margin: 0.5em;
}

.image_gallery{
    padding-top: 6em;
}

.cv_text, .cv_link{
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto;
    ms-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
}

.cv_link{
    color: #027F95;
}

.cv_text_h2{
    font-size: 22px;
    font-weight: 600;
    font-family: Roboto;
    ms-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
    text-align: center;
    padding: 3em 0 0 1em;
}

.contacts{
    text-align: center;
}

.contacts_style{
    color: #027F95;
    font-size: 22px;
    font-weight: 600;
    font-family: Roboto;
    ms-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
}



/* modal  */

.container {
    margin: 10px 20px 0 0;
}

.container h1 {
    font-weight: 100;
    color: white;
    text-align: center;
}

.container .modal-button span {
    font-size: 12px;
}
/* .container .modal-button:hover, .container .modal-button:focus {
color: #16a085;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
} */
.container .modal-content,
.container .modal-background {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

.container .modal-background {
    -webkit-transition: height 250ms;
    -o-transition: height 250ms;
    transition: height 250ms;
}

.container .modal-content {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}

.container #modal {
    display: none;
}

.container #modal:checked ~ .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
    -webkit-transition: height 250ms;
    -o-transition: height 250ms;
    transition: height 250ms;
}

.container #modal:checked ~ .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20%;
    margin-left: -25%;
    width: 50vw;
    height: auto;
    padding: 40px;
    background-color: white;
    border-radius: 3px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    cursor: auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}

.container #modal:checked ~ .modal-content .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: rgba(51, 51, 51, 0.4);
    -webkit-transition: color 200ms, -webkit-transform 500ms;
    transition: color 200ms, -webkit-transform 500ms;
    -o-transition: color 200ms, transform 500ms;
    transition: color 200ms, transform 500ms;
    transition: color 200ms, transform 500ms, -webkit-transform 500ms;
}

.container #modal:checked ~ .modal-content .modal-close:hover, .container #modal:checked ~ .modal-content .modal-close:focus {
    color: #333;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.container #modal:checked ~ .modal-content p {
    position: relative;
    margin: 0 0 20px 0;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.6;
}

.container #modal:checked ~ .modal-content .modal-content-button {
    position: relative;
    float: right;
    margin: 0;
    padding: 10px 20px;
    color: white;
    font-weight: 100;
    border-radius: 3px;
    background-color: #2980b9;
}

.container #modal:checked ~ .modal-content .modal-content-button:hover, .container #modal:checked ~ .modal-content .modal-content-button:focus {
    background-color: #409ad5;
}


/* small screens */

@media (min-width:992px) and (max-width:1079px) {

    .text_intro{
        margin: 0 auto;
    }

    .intro_name{
        font-size: 2em;
        font-weight: 600;
    }

    .intro_profession{
        font-size: 2em;
        font-weight: 600;
    }

    span{
        font-size: 1.8em;
    }

    .image_gallery{
        padding: 0;
    }
}

@media (min-width:769px) and (max-width:991px) {

    .text_intro{
        margin: 0 auto;
    }

    .intro_name{
        font-size: 1.6em;
        font-weight: 600;
    }

    .intro_profession{
        font-size: 1.6em;
        font-weight: 600;
    }

    span{
        font-size: 1.4em;
    }

    .image_gallery{
        padding: 0;
    }

    .intro_resume{
        font-size: 1em;
    }

}


@media (min-width:597px) and (max-width:768px) {

    .photo img {
        display:block;
        margin:auto;
        width: 60%;
    }

    .photo{
        margin: 0 auto;
    }

    .text_intro{
        text-align: justify;
    }

    .text_intro{
        margin: 0 auto;
        padding: 2em 0;
    }

    .intro_name{
        font-size: 1.3em;
        font-weight: 600;
    }

    .intro_profession{
        font-size: 1.3em;
        font-weight: 600;
    }

    span{
        font-size: 1.2em;
    }

    .container #modal:checked ~ .modal-content {
        top: 50%;
        left: 40%;
    }

    .spoiler_text{
        margin: 3em 1em 0 1em;
    }

    .spoiler_wrapper{
        margin-top: 1em;
    }

    .image_gallery{
        padding-top: 2em;
    }

    .cv_text_h2{
        padding: 2em 0 0 0;
    }

}

@media (min-width:480px) and (max-width:596px) {

    .photo img {
        display:block;
        margin:auto;
        width: 60%;
    }

    .photo{
        margin: 0 auto;
    }

    .text_intro{
        text-align: justify;
    }

    .text_intro{
        margin: 0 auto;
        padding: 2em 0;
    }

    .intro_name{
        font-size: 1.3em;
        font-weight: 600;
    }

    .intro_profession{
        font-size: 1.3em;
        font-weight: 600;
    }

    span{
        font-size: 1.2em;
    }

    .container #modal:checked ~ .modal-content {
        top: 50%;
        left: 40%;
    }

    .spoiler_text{
        margin: 8em 1em 0 1em;
    }

    .spoiler_wrapper{
        margin-top: 3em;
    }

    .image_gallery{
        padding-top: 2em;
    }

    .cv_text_h2{
        padding: 2em 0 0 0;
    }

}

@media (min-width:400px) and (max-width:479px) {

    .photo img {
        display:block;
        margin:auto;
        width: 70%;
    }

    .photo{
        margin: 0 auto;
    }

    .text_intro{
        text-align: justify;
    }

    .text_intro{
        margin: 0 auto;
        padding: 2em 0;
    }

    .intro_name{
        font-size: 1.5em;
        font-weight: 600;
    }

    .intro_profession{
        font-size: 1.5em;
        font-weight: 600;
    }

    span{
        font-size: 1.3em;
    }

    .container #modal:checked ~ .modal-content {
        top: 50%;
        left: 40%;
    }

    .spoiler_text{
        margin: 5em 1em 0 1em;
    }

    .spoiler_wrapper{
        margin-top: 3em;
    }

    .image_gallery{
        padding-top: 2em;
    }

    .cv_text_h2{
        padding: 2em 0 0 0;
    }

}

@media (max-width:399px) {

    .photo img {
        display:block;
        margin:auto;
        width: 70%;
    }

    .photo{
        margin: 0 auto;
        padding-top: 1em;
    }

    .text_intro{
        text-align: justify;
    }

    .text_intro{
        margin: 0 auto;
        padding: 2em 0;
    }

    .intro_name{
        font-size: 1.3em;
        font-weight: 600;
    }

    .intro_profession{
        font-size: 1.3em;
        font-weight: 600;
    }

    span{
        font-size: 1.2em;
    }

    .container #modal:checked ~ .modal-content {
        top: 30%;
        left: 40%;
    }

    .spoiler_text{
        margin: 3em 1em 0 1em;
        text-align: left;
    }

    .image_gallery{
        padding-top: 2em;
    }

    .cv_text_h2{
        padding: 2em 0 0 0;
    }

    .fa-2x {
        font-size: 1.2em !important;
        font-weight: 800 !important;
    }

    label[for="lang"] {
        font-weight: 550;
        padding: 0.7em 3em 0 0;
    }

    .cv_text, .cv_link {
        font-size: 20px;
        font-weight: 400;
    }

    .image{
        margin: 20px 0 0 0;
        padding: 0;
    }

    .image_gallery{
        margin:0 auto;
    }

    .contacts_style {
        font-size: 20px;
        font-weight: 500;
    }
}
